<div class="d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-6 col-lg-4 p-4">
    <div class="card">
      <div class="card-header text-center">
        <h2>Forget Password</h2>
      </div>
      <div class="card-body">
        <!-- <form [formGroup]="loginForm" (ngSubmit)="ProceedForgotPassowrd()"> -->
          <div class="mb-2">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              [(ngModel)]="username"
            />
            <!-- <div
              class="text-danger"
              *ngIf="
                loginForm.get('username')?.touched && loginForm.get('username')?.invalid
              "
            >
              <div *ngIf="loginForm.get('username')?.hasError('required')">
                The username field is mandatory
              </div>
            </div>
          </div> -->

          <div class="mt-2 d-flex justify-content-around">
            <input
              type="submit"
              value="Submit"
              class="btn btn-success border border-dark mr-3"
              style="width: 80px"
              (click)="ProceedForgotPassowrd()"
              style="width: 150px;"
            />
            <a routerLink="/login" class="btn btn-info text-white border border-dark" style="width:150px">Cancel</a>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>