<div class="d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-6 col-lg-4 p-4">
    <div class="card">
      <div class="card-header text-center">
        <h2>Update Password</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="updatePasswordForm" (ngSubmit)="ProceedUpdatePassowrd()">
          <div class="mb-2">
            <!-- <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              [(ngModel)]="username"
            /> -->

            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              formControlName="password"
            />
            <div
              class="text-danger"
              *ngIf="
                updatePasswordForm.get('password')?.touched && updatePasswordForm.get('password')?.invalid
              "
            >
              <div *ngIf="updatePasswordForm.get('password')?.hasError('required')">
                The Password field is mandatory
              </div>
            </div>

            <label for="otptext">OTP</label>
            <input
              type="text"
              class="form-control"
              name="otptext"
              id="otptext"
              formControlName="otptext"
            />
            <div
              class="text-danger"
              *ngIf="
                updatePasswordForm.get('otptext')?.touched && updatePasswordForm.get('otptext')?.invalid
              "
            >
              <div *ngIf="updatePasswordForm.get('otptext')?.hasError('required')">
                The OTP field is mandatory
              </div>
            </div>
          </div> 

          <div class="mt-2 d-flex justify-content-around">
            <input
              type="submit"
              value="Submit"
              class="btn btn-success border border-dark mr-3"
              style="width: 80px"
              style="width: 150px;"
            />
            <a routerLink="/login" class="btn btn-info text-white border border-dark" style="width:150px">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
