<div class="d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-6 col-lg-4 p-4">
    <div class="card">
      <div class="card-header text-center">
        <h2>Reset Password</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="ProceedResetPassowrd()">
          <div class="mb-2">
            <!-- <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              [(ngModel)]="username"
            /> -->

            <label for="oldpassword">Old Password</label>
            <input
              type="password"
              class="form-control"
              name="oldpassword"
              id="oldpassword"
              formControlName="oldpassword"
            />
            <div
              class="text-danger"
              *ngIf="
                resetPasswordForm.get('oldpassword')?.touched && resetPasswordForm.get('oldpassword')?.invalid
              "
            >
              <div *ngIf="resetPasswordForm.get('oldpassword')?.hasError('required')">
                The old-password field is mandatory
              </div>
            </div>

            <label for="newpassword">New Password</label>
            <input
              type="password"
              class="form-control"
              name="newpassword"
              id="newpassword"
              formControlName="newpassword"
            />
            <div
              class="text-danger"
              *ngIf="
                resetPasswordForm.get('newpassword')?.touched && resetPasswordForm.get('newpassword')?.invalid
              "
            >
              <div *ngIf="resetPasswordForm.get('newpassword')?.hasError('required')">
                The new-password field is mandatory
              </div>
            </div>
          </div> 

          <div class="mt-2 d-flex justify-content-around">
            <input
              type="submit"
              value="Submit"
              class="btn btn-success border border-dark mr-3"
              style="width: 80px"
              style="width: 150px;"
            />
            <a routerLink="/login" class="btn btn-info text-white border border-dark" style="width:150px">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>